@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,700&display=swap');

body{
    background: url(Capture\ d’écran\ 2023-12-05\ à\ 17.10.27\ copie\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(3, 3, 73);

}
.video1{
    display: flex;
  justify-content: center;
  align-items: center;
    
}
h2{
    color: rgb(245, 242, 248);
    font-family: 'Brygada 1918', serif;
}

h1{
    text-align: center;
    text-shadow: 5cap;
    color: rgb(245, 242, 248);
    font-family: 'Brygada 1918', serif;
}
.episode-suivant{
    text-align: right;
    color:rgb(245, 242, 248) ;
    text-decoration: none;
    font-family: 'Brygada 1918', serif;
    margin-right: 4rem;

}

.page-daccueil{
    text-decoration: none;
    color: rgb(242, 239, 245);
    font-family: 'Brygada 1918', serif;
    text-align: right;

}

.espace{
    color: rgb(3, 3, 73);
}
#playerDF{
    display: block;
    margin: 0 auto;
    margin-top: 9rem;
}