@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,700&display=swap');
body{
   background: url(Capture\ d’écran\ 2023-12-05\ à\ 17.10.27\ copie\ 3.png);
   background-position: center;
   background-repeat: no-repeat;
   background-color: rgb(3, 3, 73);
}

h1{
    text-align: center;
    color: rgb(242, 239, 245);
    font-family: 'Brygada 1918', serif;
}

h2{
    text-align: left;
    color: rgb(242, 239, 245);
    font-family: 'Brygada 1918', serif;
}


.espace{
    color: rgb(3, 3, 73);
}

.logo{
    text-align: center;
    text-decoration: none;
}
.logo img{
    display: block;
    margin: 0 auto;

}

.logo p{
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Brygada 1918', serif;
    color: rgb(242, 239, 245);

}

.logo-box{
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    max-width: 170px;
}
hr{
    color: rgb(242, 239, 245);
}

.bleach-box{
    background-color: black;
    max-width: 170px;
    padding: 5px;
    border-radius: 5px;
}

.bleach p{
    color: rgb(242, 239, 245);
    font-family: 'Brygada 1918', serif;
    margin-top: 10px;
    font-weight: bold;


}
.bleach{
    text-decoration: none;
}

.logo-box,.bleach-box,.marvel-box{
    display: inline-block;
    margin: 20px;
}

.marvel-box{
    background-color: black;
    max-width: 170px;
    padding: 5px;
    border-radius: 5px;
}

.Marvel{
    text-decoration: none;

}
.Marvel p{
    color: rgb(242, 239, 245);
    font-family: 'Brygada 1918', serif;
    margin-top: 10px;
    font-weight: bold;
}
